body {
  font-family: "Source Serif Pro", serif; }

h1, h2, h3 {
  font-family: "Righteous", cursive; }

h2 {
  color: #343434; }

header h2 {
  color: #bdbdbd; }

.site-footer {
  background-image: linear-gradient(#bdbdbd, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #141414, #343434, #0f0f0f);
  color: white; }

.navbar {
  background-color: #000000; }

.carousel img {
  position: relative;
  top: 0;
  min-width: 100%;
  height: auto;
  max-width: 100%; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

/*.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}*/
a, a:hover {
  color: inherit;
  text-decoration: none; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

h2 span {
  display: block;
  height: 100%;
  padding-left: 10px;
  animation: spin_words 6s infinite; }

@keyframes spin_words {
  10% {
    transform: translateY(-110%); }
  33% {
    transform: translateY(-100%); }
  43% {
    transform: translateY(-210%); }
  66% {
    transform: translateY(-200%); }
  76% {
    transform: translateY(-310%); }
  100% {
    transform: translateY(-300%); } }

.words {
  overflow: hidden; }

.headerWrapper {
  height: 50px;
  display: flex; }

a.emphasis:hover {
  color: #ff0000;
  font-style: italic; }
